<!DOCTYPE html>
<html lang="en">
<head>
  {% block title %}<title>Towel Site</title>{% endblock %}
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  {% load static %}
  <!-- Bootstrap core CSS -->
  <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">

</head>


<nav class="navbar navbar-expand-lg navbar-light bg-info text-dark static-top">
  <div class="container">
    <a class="navbar-brand" href="{% url 'home' %}">Los Textiles de Chiapas</a></li>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav ml-auto">
        <li class="nav-link active"><a href="{% url 'home' %}" class=text-dark>Home</a></li>
        <li class="nav-link active"><a href="{% url 'products' %}" class=text-dark>Products</a></li>
        <li class="nav-link active"><a href="{% url 'contactus' %}" class=text-dark>Contact Us</a></li>
        <li class="nav-link active">{% with total_items=cart|length %}
          {% if cart|length > 0 %}
          <a href="{% url "cart:cart_detail" %}" class=text-dark>
            Cart: {{ total_items }} item{{ total_items|pluralize }}
          </a>
          {% else %}

          <a href="{% url "cart:cart_detail" %}" class=text-dark>
            Cart: 0
          </a>
          {% endif %}
          {% endwith %}
        </li>

      </ul>
    </div>
  </div>
</nav>

<body>

  {% block content %}{% endblock content%}
  <!--Footer-->
<footer class="page-footer font-small blue pt-4 mt-4">


    <!--Copyright-->
    <div class="footer-copyright py-3 text-center">
        © 2018 Copyright: Los Textiles de Chiapas
    </div>
    <!--/.Copyright-->

</footer>
<!--/.Footer-->
  {% block footer %}
  {% endblock footer %}
  <script src="{% static 'jquery/jquery.min.js' %}"></script>
  <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
</body>
</html>
